Repository self-denial-cy/vue-scorpio-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: 插件-swiper,剪切板开发
  package-lock.json
  package.json
  src/router/modules/plugin.ts
  src/types/vue-components.d.ts
  src/views/plugin/clipboard/index.vue
  src/views/plugin/map/index.vue
  src/views/plugin/swiper/index.vue
Due: eslint --fix, stylelint --fix

feat: 剪切板指令模式、markdown 编辑器、富文本编辑器示例开发
  .eslintrc-auto-import.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/directives/clipboard.ts
  src/directives/index.ts
  src/main.ts
  src/router/modules/plugin.ts
  src/types/auto-imports.d.ts
  src/types/directives.d.ts
  src/views/plugin/clipboard/index.vue
  src/views/plugin/editor/markdown/index.vue
  src/views/plugin/editor/rich/index.vue
Due: eslint --fix, stylelint --fix

feat: 插件-视频示例开发
  .vscode/settings.json
  package-lock.json
  package.json
  src/router/modules/plugin.ts
  src/types/auto-imports.d.ts
  src/views/plugin/video/index.vue
Due: eslint --fix, stylelint --fix

feat: excel 导入示例开发、异常页示例开发
  .vscode/settings.json
  package-lock.json
  package.json
  public/example.xlsx
  src/components/ImportExcel.vue
  src/components/SiteLink.vue
  src/composables/excel.ts
  src/composables/index.ts
  src/router/modules/exception.ts
  src/router/modules/plugin.ts
  src/types/package.d.ts
  src/types/vue-components.d.ts
  src/views/about/index.vue
  src/views/plugin/excel/index.vue
Due: eslint --fix, stylelint --fix

feat: 异常页-更多开发
  .env
  src/assets/icons/load-failed.svg
  src/assets/icons/network-error.svg
  src/assets/icons/no-content.svg
  src/assets/icons/no-message.svg
  src/assets/icons/page-error.svg
  src/components/BetterScroll.vue
  src/components/DarkModeContainer.vue
  src/composables/index.ts
  src/composables/layout.ts
  src/layout/shared/Header/index.vue
  src/layout/shared/Taber/index.vue
  src/layout/shared/Tabs/index.vue
  src/router/modules/exception.ts
  src/router/routes.ts
  src/types/env.d.ts
  src/types/vue-components.d.ts
  src/utils/crypto/index.ts
  src/utils/storage/local.ts
  src/views/exception/403/index.vue
  src/views/exception/404/index.vue
  src/views/exception/500/index.vue
  src/views/exception/other/index.vue
  src/views/plugin/video/index.vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 访问权限-角色权限示例开发
  src/enum/index.ts
  src/helpers/auth.ts
  src/helpers/index.ts
  src/helpers/route.ts
  src/router/modules/auth.ts
  src/stores/auth.ts
  src/stores/index.ts
  src/stores/route.ts
  src/stores/tab.ts
  src/types/router.d.ts
  src/types/system.d.ts
  src/views/auth/permission/index.vue
Due: eslint --fix, stylelint --fix

feat: 访问权限-角色权限示例开发、功能示例-共享上下文开发
  src/composables/index.ts
  src/composables/permission.ts
  src/context/count.ts
  src/context/index.ts
  src/directives/index.ts
  src/directives/permission.ts
  src/hooks/index.ts
  src/hooks/useContext.ts
  src/router/modules/auth.ts
  src/router/modules/function.ts
  src/types/directives.d.ts
  src/types/vue-components.d.ts
  src/views/auth/admin/index.vue
  src/views/auth/permission/index.vue
  src/views/auth/super/index.vue
  src/views/auth/user/index.vue
  src/views/function/context/components/MinusButton/index.vue
  src/views/function/context/components/PlusButton/index.vue
  src/views/function/context/components/index.ts
  src/views/function/context/index.vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 组件示例-表单规则校验开发
  src/router/modules/component.ts
  src/types/vue-components.d.ts
  src/views/component/validate/components/BasicValidate/index.vue
  src/views/component/validate/components/index.ts
  src/views/component/validate/index.vue
  src/views/function/context/components/MinusButton/index.vue
  src/views/function/context/components/PlusButton/index.vue
  src/views/function/context/index.vue
Due: eslint --fix, stylelint --fix

feat: 组件示例-表单规则校验开发
  .vscode/settings.json
  src/types/vue-components.d.ts
  src/views/component/validate/components/BasicValidate/index.vue
  src/views/component/validate/components/CustomValidate/index.vue
  src/views/component/validate/components/index.ts
  src/views/component/validate/index.vue
Due: eslint --fix, stylelint --fix

feat: 功能示例-责任链模式 day1
  src/helpers/chain.ts
  src/helpers/index.ts
Due: eslint --fix

feat: 功能示例-责任链模式 day2 part1
  src/helpers/chain.ts
  src/router/modules/function.ts
  src/types/helpers.d.ts
  src/views/function/chain/index.vue
Due: eslint --fix, stylelint --fix

feat: 功能示例-责任链模式 over
  src/views/function/chain/index.vue
Due: eslint --fix, stylelint --fix

feat: 组件示例-人机验证 day1 part1
  src/components/DragVerify.vue
  src/router/modules/component.ts
  src/types/vue-components.d.ts
  src/views/component/verify/components/DragVerify/index.vue
  src/views/component/verify/components/index.ts
  src/views/component/verify/index.vue
Due: eslint --fix, stylelint --fix

feat: 组件示例-人机验证 day1 part2
  src/components/DragVerify.vue
  src/components/RotateVerify.vue
  src/types/expose.d.ts
  src/types/vue-components.d.ts
  src/views/component/verify/components/DragVerify/index.vue
  src/views/component/verify/components/RotateVerify/index.vue
  src/views/component/verify/components/index.ts
  src/views/component/verify/index.vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 组件示例-人机验证 day2 part1
  .vscode/settings.json
  src/assets/images/example.png
  src/components/DragVerify.vue
  src/components/RandomCodeVerify.vue
  src/components/RotateVerify.vue
  src/types/auto-imports.d.ts
  src/types/expose.d.ts
  src/types/vue-components.d.ts
  src/views/component/verify/components/DragVerifyExample/index.vue
  src/views/component/verify/components/RandomCodeVerifyExample/index.vue
  src/views/component/verify/components/RotateVerifyExample/index.vue
  src/views/component/verify/components/index.ts
  src/views/component/verify/index.vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 组件示例-人机验证 day2 over
  src/components/RandomCodeVerify.vue
  src/types/auto-imports.d.ts
  src/views/component/verify/components/RandomCodeVerifyExample/index.vue
Due: eslint --fix, stylelint --fix

fix: 修复特殊起始角度导致的底部拖拽条显示异常问题
  src/components/DragVerify.vue
Due: eslint --fix, stylelint --fix

feat: 功能示例-axios 请求封装 day1 part1
  package-lock.json
  package.json
  src/enum/index.ts
  src/service/index.ts
  src/service/instance.ts
  src/service/utils.ts
  src/types/service.d.ts
Due: eslint --fix

feat: 功能示例-axios 请求封装 day1 part2
  package-lock.json
  package.json
  src/layout/shared/Base/index.vue
  src/layout/shared/Footer/index.vue
  src/layout/shared/Sidebar/index.vue
  src/service/config.ts
  src/service/instance.ts
  src/service/utils.ts
  src/types/service.d.ts
Due: eslint --fix, stylelint --fix

feat: 功能示例-axios 请求封装 day2 over
  package-lock.json
  src/service/index.ts
  src/service/instance.ts
  src/service/utils.ts
  src/types/service.d.ts
Due: eslint --fix

feat: mock 服务、多级菜单、自定义代码片段 over
  .gitignore
  .vscode/scorpio.code-snippets
  .vscode/settings.json
  mock/_createProductionServer.ts
  mock/_utils.ts
  mock/api/example.ts
  mock/api/index.ts
  package-lock.json
  package.json
  src/router/modules/about.ts
  src/router/modules/function.ts
  src/router/modules/multistage.ts
  src/service/index.ts
  src/types/auto-imports.d.ts
  src/views/about/index.vue
  src/views/function/request/index.vue
  src/views/multistage/first/second/third/index.vue
  vite.config.ts
Due: eslint --fix, stylelint --fix

feat: 集成 vitest day1
  package-lock.json
  package.json
  src/types/auto-imports.d.ts
  tsconfig.node.json
  vitest.config.ts
Due: eslint --fix

feat: vitest 配置和简单示例
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/__tests__/CountTo.spec.ts
  src/components/__tests__/examples/vi/date.spec.ts
  src/components/__tests__/examples/vi/function.spec.ts
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
Due: eslint --fix

chore: release v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Create deploy_to_github
  .github/workflows/deploy_to_github
Due: none

chore: release v1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: 修复后缀名错误问题
  .github/workflows/deploy_to_github.yml
Due: none

refactor: 切换 vue-router mode 以适配 github pages
  src/router/index.ts
Due: eslint --fix

chore: commit
  .env
  docs/images/preview.png
  package.json
Due: none

chore: commit
  README.md
Due: none

chore: 优化自动构建部署流程
  .env
  .github/workflows/deploy_to_github.yml
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: release v1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: 优化构建流程配置
  vite.config.ts
Due: eslint --fix

Path conditions:
  eslint --fix: ((((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.cts)) or (any of: *.mts)) or (any of: *.vue)
  stylelint --fix: ((any of: *.vue) or (any of: *.less)) or (any of: *.css)
